@font-face {
  font-family: "DIN";
  src: url('./webfonts/DINLightAlternate.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url('./webfonts/DINRegularAlternate.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url('./webfonts/DINMediumAlternate.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url('./webfonts/DINBlackAlternate.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}