@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

//--- fonts ---//

@font-face {
  font-family: 'DIN';
  font-style: normal;
  font-weight: 300;
  src: url('webfonts/DINLightAlternate.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN';
  font-style: normal;
  font-weight: 400;
  src: url('webfonts/DINRegularAlternate.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN';
  font-style: normal;
  font-weight: 500;
  src: url('webfonts/DINMediumAlternate.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN';
  font-style: normal;
  font-weight: 900;
  src: url('webfonts/DINBlackAlternate.ttf') format('truetype');
}

//--- colors ---//

$white:     rgb(255, 255, 255) !default;
$lighter:   rgb(251, 180, 116) !default;
$light:     rgb(240, 154, 77) !default;
$tan:       rgb(203, 127, 58) !default;
$tanner:    rgb(195, 110, 41) !default;
$tannest:   rgb(146, 86, 34) !default;
$reddish:   rgb(131, 55, 27) !default;
$brown:     rgb(93, 41, 14) !default;
$browner:   rgb(76, 32, 15) !default;
$brownest:  rgb(52, 25, 14) !default;
$dark:      rgb(34, 15, 10) !default;
$black:     rgb(0, 0, 0) !default;

//--- general styling ---//

html {
  font-size: 62.5%;
}

body {
  font-family: 'DIN', Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  color: $white;
  background-color: $brownest;
  background-image: url(./images/black-is-beautiful-background.png);
  background-size: cover;
}

//--- jumbotron ---//

div.jumbotron-fluid {
  background-color: transparent;
  padding: 0;
}

// Black Is Beautiful logo

#logo {
  padding-top: 4rem;
}

//--- main body content ---//

// donor thanks

.donor-thanks {
  margin: 3rem 0 2rem 0;
}

h1 {
  font-size: 7.2rem;
  font-weight: 300;
}

// donation form/button

form#donation-form {
  margin-bottom: 4rem;
}

input#donate-button:hover {
  box-shadow:
  0 2rem 2rem rgba($dark ,0.5),
  -2rem 0 2rem rgba($dark ,0.5);
}

// PayPal pixel

img#id {
  margin: 0;
  padding: 0;
}

// donation disclaimer

p.muted {
  font-size: 1.8rem;
  font-weight: 400;
  font-style: italic;
}

// special thanks block

.special-thanks {
  background-color: rgba($dark, 0.75);
  border-radius: 35px;
  margin: 4rem 2rem 6rem 2rem;
  padding: 5rem 2.5rem;
}

h2 {
  font-size: 4rem;
  font-weight: 300;
  padding-bottom: 3rem;
}

a.beer-site.btn {
  padding: 2rem 4rem;
  font-size: 2.4rem;
  font-weight: 900;
  color: $dark;
  background-color: $light;
  border-color: $dark;
  border-width: 2px;
  border-radius: 0.5rem;
  box-shadow:
  0 -1rem 3rem rgba($reddish, 0.5), 
  0 1rem 3rem rgba($reddish, 0.5),
  -1rem 0 3rem rgba($reddish, 0.5),
  1rem 0 3rem rgba($reddish, 0.5);
  cursor: pointer;
}

a.beer-site.btn:hover {
  color: $browner;
  background-color: $lighter;
  border-radius: 0.4rem;
  box-shadow:
  0 -1rem 4rem rgba($reddish, 0.75), 
  0 1rem 4rem rgba($reddish, 0.75),
  -1rem 0 4rem rgba($reddish, 0.75),
  1rem 0 4rem rgba($reddish, 0.75);
}

//--- footer ---//

footer {
  font-family: 'DIN', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: $black;
}

// about section

.stikky-footer {
  margin: 2rem 0;
}

.stikky-footer > .about-text {
  color: #CDCDCD;
  margin-top: 2rem;
}

h3 {
  font-size: 2.2rem;
  font-weight: 500;
}

// social media links

span.footer-link-text {
  position: relative;
  bottom: 1rem;
}

a.footer-link {
  color: $tan;
  word-wrap: break-word;
}

a.footer-link:hover, 
span.footer-link-text:hover {
  font-weight: bold;
  text-decoration: none;
}

.fas, 
.fab {
  color: $white;
  font-size: 5rem;
  margin: 1rem 1rem 0 0;
}

.fas:hover, 
.fab:hover {
  color: $light;
}

#seal > img {
  max-width: 65%;
  height: auto;
}