@import 'fonts';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~bootstrap';

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #34190E;
  background-image: url(./images/black-is-beautiful-background.png);
  background-size: cover;
}

div.jumbotron-fluid {
  font-family: DIN, Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #ffffff;
  background-color: #000000;
}

footer {
  background-color: #000000;
}

.fas, .fab {
  font-size: 3rem;
}